<nav class="navbar fixed-top navbar-light bg-light">
  <section class="container">
    <h1 class="navbar-brand">
      <%= link_to "CoChef", root_path %>
    </h1>
    <article class="d-flex">
      <%
=begin%>
 <div class="m-2">
        <%= link_to "About", user_path(current_user) %>
      </div>
      <div class="m-2">
        <%= link_to "Posts", user_posts_path(current_user) %>
      </div> 
<%
=end%>
    </article>
  </section>
</nav>